<div class="jumbotron mt-4">
  <h1 class="display-4">Notas App </h1>
  <p>Podes guardar todas las notas que desees.</p>
  <hr class="my-4" />
  <p>Es una App de notas simple, y facil de usar.</p>

</div>